.user-list {
    flex: 1;
    padding: 10px;
    background-color: #111;
    border-left: 1px solid #444;
}

.user-list h3 {
    margin-top: 0;
}

.user-list ul {
    list-style-type: none;
    padding: 0;
}

.user-list li {
    padding: 5px 0;
}
